@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0px;
    padding-top:0px;
    background-color: black;
}
.box{
    padding-bottom: 38px;
}
.box img{
    height: 450px;
    width: 30%;
    padding-left: 40px;
    padding-bottom: 45px;
}
p{
    font-size: 55px;
    font-family:"Permanent Marker";
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 495px; ;
    color: azure;
}